@font-face{font-family:Uber Move;font-style:normal;font-weight:300;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/5e42280ed7d51fb011c9b0aadcfdee2c.otf) format("opentype")}
  
@font-face{font-family:Uber Move;font-style:normal;font-weight:400;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/f98937b963212639284b8825380d0fbc.otf) format("opentype")}
  
@font-face{font-family:Uber Move;font-style:normal;font-weight:500;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/7999d148e8355b49d71b4e1795cec247.otf) format("opentype")}
  
@font-face{font-family:Uber Move;font-style:normal;font-weight:700;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/38f0dcac01a8468c8955582ef77823d4.otf) format("opentype")}

body {
    width: 728px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.wrap {
    width: 728px;
    height: 90px;
    border: 1px solid #000;
    overflow: hidden;
}

.bg {
    width: 200px;
    height: 90px;
    background: url(bg.jpg)no-repeat center;
    background-size: cover;
    z-index: 1;
    float: right;
}

.logo {
    width: 85px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.copy-wrap {
    position: absolute;
    width:320px;
    height:75px;
    left: 10px;
    top: 0px;
    overflow: hidden;
}

.copy-cta-wrap {
    position: absolute;
    width:360px;
    height:75px;
    left: 160px;
    top: 10px;
    overflow: hidden;
}

.copy1 {
    position: relative;
    width: 320px;
    top:-150px;
    font-family: Uber Move, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: black;
}

.copy2 {
    position: relative;
    width: 280px;
    top:-90px;
    font-family: Uber Move, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: black;
}
  
.cta {
    font-family: Uber Move, sans-serif;
    font-weight: 500;
    letter-spacing: .2px;
    position: absolute;
    display:inline-flex; 
    background-color: #5fb709; 
    padding: 8px 13px; 
    font-size:14px; 
    color:white; 
    cursor:pointer;
    top: -55px;
    left:215px;
}

.cta .arrow {
    margin: 1px 9px 0 12px; 
    font-size:10px; 
    width:14px; 
    height:13px; 
    transition: transform 333ms ease;
}

.cta:hover {
    background-color:black;
}
  
.cta:hover .arrow {
    transform: translateX(9px);
}
      
.animate-top1 {
	position: relative;
	animation: animate-top1 7.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.animate-top2 {
	position: relative;
	animation: animate-top2 7.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.animate-right {
	position: relative;
	animation: animate-right 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.animate-right2 {
	position: relative;
	animation: animate-right2 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

@keyframes animate-top1 {
	0% {
		top: -15px;
	}
    
    60% {
		top: -15px;
	}
    
    65% {
		top: -150px;
	}
    
	100% {
		top: -150px;
	}
}

@keyframes animate-top2 {
	0% {
		top: 10px;
	}
       
    60% {
		top: 10px;
	}
    
    65% {
		top: -90px;
	}
    
	100% {
		top: -90px;
	}
}

@keyframes animate-right {
	0% {
        left: -450px;
	}
    
    5% {
        left: -450px;
	}
    
    15% {
        left: 10px;
	}
    
	100% {
        left: 10px;
	}
}

@keyframes animate-right2 {
	0% {
        left: -400px;
	}
    
    5% {
        left: -400px;
	}
    
    15% {
        left: 215px;
	}
    
	100% {
        left: 215px;
	}
}