@font-face{font-family:Uber Move;font-style:normal;font-weight:300;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/5e42280ed7d51fb011c9b0aadcfdee2c.otf) format("opentype")}
  
@font-face{font-family:Uber Move;font-style:normal;font-weight:400;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/f98937b963212639284b8825380d0fbc.otf) format("opentype")}
  
@font-face{font-family:Uber Move;font-style:normal;font-weight:500;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/7999d148e8355b49d71b4e1795cec247.otf) format("opentype")}
  
@font-face{font-family:Uber Move;font-style:normal;font-weight:700;src:url(https://uber-design-herokuapp-com.global.ssl.fastly.net/38f0dcac01a8468c8955582ef77823d4.otf) format("opentype")}

body {
    width: 160px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.wrap {
    width: 160px;
    height: 600px;
    border: 1px solid #000;
    overflow: hidden;
}

.bg {
    width: 160px;
    height: 300px;
    background: url(bg.jpg)no-repeat center;
    background-size: cover;
    z-index: 1;
    float: left;
}

.logo {
    width: 75px;
    position: absolute;
    top: 525px;
    left: 12px;
    z-index: 2;
}

.copy-wrap {
    position: absolute;
    width: 140px;
    height:135px;
    left: 5px;
    top: 0px;
    overflow: hidden;
}

.copy-cta-wrap {
    position: absolute;
    width: 140px;
    height: 185px;
    left: 10px;
    top: 315px;
    overflow: hidden;
}

.copy1 {
    position: relative;
    width: 130px;
    top:-150px;
    font-family: Uber Move, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: black;
}

.copy2 {
    position: relative;
    width: 130px;
    top:-76px;
    font-family: Uber Move, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: black;
}
  
.cta {
    font-family: Uber Move, sans-serif;
    font-weight: 500;
    letter-spacing: .2px;
    position: absolute;
    display:inline-flex; 
    background-color: #5fb709; 
    padding: 8px 12px; 
    font-size:14px; 
    color:white; 
    cursor:pointer;
    top: 10px;
    left:5px;
}

.cta .arrow {
    margin: 2px 9px 0 12px; 
    font-size:12px; 
    width:14px; 
    height:13px; 
    transition: transform 333ms ease;
}

.cta:hover {
    background-color:black;
}
  
.cta:hover .arrow {
    transform: translateX(9px);
}
      
.animate-top1 {
	position: relative;
	animation: animate-top1 7.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.animate-top2 {
	position: relative;
	animation: animate-top2 7.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.animate-left {
	position: relative;
	animation: animate-left 7.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}


@keyframes animate-top1 {
	0% {
		top: 10px;
	}
    
    60% {
		top: 10px;
	}
    
    65% {
		top: -150px;
	}
    
	100% {
		top: -150px;
	}
}

@keyframes animate-top2 {
	0% {
		top: 30px;
	}
    
    60% {
		top: 30px;
	}
    
    65% {
		top: -76px;
	}
    
	100% {
		top: -76px;
	}
}

@keyframes animate-left {
	0% {
        left: 450px;
	}
    
    5% {
        left: 450px;
	}
    
    15% {
        left: 5px;
	}
    
	100% {
        left: 5px;
	}
}