/* HireClix 2017 | www.hireclix.com */

/*
Table of Content:
1. Main Style
2. Header
3. Intro
4. Services 
5. Features
6. Clients
7. FAQ
8. Footer
9. Media Queries
10. Font-Face
*/

/*Main (Typography) Style*/

@import url(https://hireclix.github.io/hosting/schneider-electric/reentry/assets/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

p {
	/*font-family: 'PT Sans', Helvetica, Arial, sans-serif;*/
    font-family: arial, helvetica, sans-serif;
	color: #626469;
}

p.lead {
	font-size: 16px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 14px;
    letter-spacing: -1px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

h3 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 8px;
    letter-spacing: -1px;
}

h4 {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 4px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: 30px;
}

h6 {
    font-size: 14px;
    line-height: 21px;
}

a {
    color: #009530;
	text-decoration: none;
}

.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}
ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon {
					color: inherit;
				}

					ul.icons li .icon:before {
						font-size: 1.25em;
					}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
        background: #3DCD58; 
		border-bottom: 4px solid #009530;
		padding: 0em 5em 0em 4.5em;
		position: relative;
        
	}

		#header > * {
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-bottom: 0;
            align-self: flex-end;
		}

        #header .logo img {
            width: 245px;
        }

		#header .icons {
			text-align: right;
            color: white;
            padding-bottom: .5em;
		}
.opportunities {
    padding-left: 3em;
}

		@media screen and (max-width: 1680px) {

			#header {
				padding-top: 0em;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 0em 5em 0em 0em;
			}

				#header .logo img {
            width: 175px;       
        }

				#header .icons {
					height: 5em;
					line-height: 5em;
					position: absolute;
					right: -0.5em;
					top: 0;
                    text-align: left;
                    padding-right: 1.5em;
				}
            
            .opportunities {
    padding-left: 0em;
}
}

/*Intro*/



#intro .container {
    text-align: center;
    padding-top: 2em;
}

#intro h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 600;
    line-height: 46px;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
}

#intro strong {
    color: #fff;
}

#intro p {
    color: #fff;
    font-weight: 600;
}

section#intro {
    background-image: -moz-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/family-leave-hero.jpg");
    background-image: -webkit-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/family-leave-hero.jpg");
    background-image: -ms-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/family-leave-hero.jpg");
	background-image: linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/family-leave-hero.jpg");
    background-position: center 30%;
    padding: 7em 0;
	-webkit-background-size: cover ;
	background-size: cover ;
    position: relative;
}

@media screen and (max-width: 700px) {
    section#intro {
    background-position: 35% center;    
	-webkit-background-size: cover;
	padding: 5em 0;
}

    #intro h2 br {
        display:none;
    }   
    
    #intro p br {
        display:none;
    }  
    
    #intro .container {
    padding-top: 3em;
}
    #intro .logo {
	position: relative;
    margin: 0 auto;
}
    
    #footer br {
        display: none;
    }
    
}

section#intro .intro2 div{
    background: rgba(0,0,0,0.55);
	padding: 30px 0 0 0;
}

section#intro .intro-text h2 {
	color: white;
	text-shadow: 0 1px #414141;
	padding: 0px 10px;
    font-size: 23px;
    line-height: 32px;
}

section#intro .intro-text p {
	color: white;
	padding: 0px 10px;
}

@media screen and (max-width: 700px) {
    section#intro .intro-text h2 {
        font-size: 20px;
        line-height: 28px;
}
    
    section#intro .intro-text p {
	   line-height: 24px;
}
}

section#intro .intro-text strong {
    color: white;
}

section#intro .intro-text blockquote {
	color: white;
	border-left-color: #009530;
}

section#intro .intro-text blockquote small {
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	font-family: 'arvo';
	margin-left: 5px;
}

section#intro .booking div {
	padding: 0px 0px;
	width: 75%;
	max-width: 250px;
	float: left;
	background: #FAFAFA;
	border: 10px solid rgba(0, 0, 0, 0.3);
	-moz-background-clip: border;    
  	-webkit-background-clip: border;
  	background-clip: border-box;      			
  	-moz-background-clip: padding;    
  	-webkit-background-clip: padding;  
  	background-clip: padding-box;      
}

section#intro .booking span {
	max-width: 250px;

}
section#intro .booking2 div {
	padding: 0px 0px;
	width: 75%;
	float: right;
	background: #FAFAFA;
	border: 0px solid rgba(0, 0, 0, 0.3);
	-moz-background-clip: border;    
  	-webkit-background-clip: border;
  	background-clip: border-box;      			
  	-moz-background-clip: padding;    
  	-webkit-background-clip: padding;  
  	background-clip: padding-box;      
}


section#intro .booking i {
	color: #FFFFFF;
	margin: 10px 0;
	text-align: center;
	display: block;
	font-size: 24px;
}

section#intro .booking h3 {
	text-align: center;
}

section#intro .booking p {
	text-align: center;
}

section#intro .booking input,
section#intro .booking textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section#intro .booking button {
	background: #009530;
	outline: none;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding: 10px 18px;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

section#intro .booking button:hover {
	background: #7C1212;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

/* Date and Time picker */

.ui-timepicker-div .ui-widget-header { 
	margin-bottom: 8px 
}

.ui-timepicker-div dl { 
	text-align: left 
}

.ui-timepicker-div dl dt {
    float: left;
    clear: left;
    padding: 0 0 0 5px;
}

.ui-datepicker-calendar thead {
	background: #009530;
}

.ui-datepicker-calendar th {
	color: white;
}

.ui-timepicker-div dl dd { 
	margin: 0 10px 10px 45% 
}

.ui-timepicker-div td { 
	font-size: 90% 
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-rtl { 
	direction: rtl 
}

.ui-timepicker-rtl dl {
    text-align: right;
    padding: 0 5px 0 0;
}
.ui-timepicker-rtl dl dt {
    float: right;
    clear: right;
}
.ui-timepicker-rtl dl dd { 
	margin: 0 45% 10px 10px 
}

/*Services*/

section#services {
	padding: 30px 0 30px 0;
}

section#services .list-services ul i {
	margin-right: 5px;
	color: #009530;
}

#services h5 {
    font-size: 22px;
    line-height: 28px;
    color:#3DCD58;
}

/*section#services .big-thumbnail img {
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

section#services .big-thumbnail img:hover {
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	filter: grayscale(80%);
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}*/

/*Features*/

section#features {
    background: #fafafa;
	padding: 25px 0 0 0;
}

section#features h5 {
	padding: 10px 0 5px 0;
    font-size: 16px;
    color: #009530;
}

section#features2 {
    background: #fafafa;
	padding: 25px 0;
}

section#features2 h5 {
	padding: 10px 0 5px 0;
    font-size: 16px;
    color: #009530;
}

section#features3 {
    background: #fff;
	padding: 25px 0 0 0;
}

section#features3 h5 {
	padding: 0;
    font-size: 24px;
    color: #3DCD58;
}

@media screen and (max-width: 700px) {
    .mobile-padding {
        padding-top:20px;
    }
}

.test-img {
    width: 105px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #888888;
}

/*section#features img {
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

section#features img:hover {
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	filter: grayscale(80%);
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}*/

/*Clients*/

section#clients {
	background-image: -moz-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-image: -webkit-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-image: -ms-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-image: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0.45)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-position: left top;
	-webkit-background-size: cover;
	background-size: cover;
    background-attachment: fixed;
	padding: 50px 0;
}

@media screen and (max-width: 700px) {
    section#clients {
    background-image: -moz-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.55)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-image: -webkit-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.55)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-image: -ms-linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0.55)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");
    background-image: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0.55)), url("https://hireclix.github.io/hosting/schneider-electric/images/university-relations_bg3.jpg");    
       background-attachment: scroll; 
       background-position: right top;    
    }
}

section#clients .preambule {
	margin-bottom: 20px;
}

section#clients .preambule h3 {
	color: white;
	text-align: center;
}

section#clients .preambule p {
	color: white;
	text-align: center;
}

section#clients a>img {
	opacity: 0.7;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

section#clients a>img:hover {
	opacity: 1;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

/*FAQ*/
 
section#faq {
	background: #fff;
	padding: 25px 0 0 0;
}

section#faq .preambule {
	margin-bottom: 20px;
}

section#faq .preambule h3 {
	text-align: center;
}

section#faq .preambule p {
	text-align: center;
}

section#faq .question h5 {
	margin: 5px 0;
}

section#faq .question i {
	float: left;
	margin-right: 5px;
	font-size: 18px;
	line-height: 38px;
	color: #009530;
}

/*Footer*/

footer#footer {
	color: #626469;
	padding: 10px 0 0px 0;
}


footer#footer .preambule {
	margin-bottom: 20px;
    text-align: center;
}

footer#footer .preambule h3 {
	text-align: center;
}

footer#footer .preambule p {
	text-align: center;
}

footer#footer a {
    color:white;
}

footer#footer a:hover {
    color:white;
}

@media screen and (max-width: 700px) {
    footer#footer .preambule p br {
        display:none;
    }
}

footer#footer .widget i {
	color: white;
	text-align: center;
	display: block;	
	margin-bottom: 15px;
	font-size: 34px;
}

footer#footer .widget p {
	text-align: center;
	color: white;
}

footer#footer .widget a {
	color: white;
}

footer#footer .social {
	display: table;
	text-align: center;
	margin: 20px auto;
}

footer#footer .social li {
	float: left;
	width: 45px;
}

footer#footer .social li a {
	text-align: center;
	--webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid white;
	padding: 6px;
	width: 15px;
	height: 15px;
	display: block;
	vertical-align: center;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

footer#footer .social li a:hover {
	border-color: #009530;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

footer#footer .social li i {
	color: white;
}

footer#footer .copyrights {
	text-align: center;
	color: #838080;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header .info p {
			text-align: left;
		}

		section#intro .booking div {
			max-width: 100%;
			float: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/* #Font-Face
	================================================== */
	
	/*	@font-face {
		  font-family: 'FontAwesome';
		  src: url('../font/fontawesome-webfont.eot');
		  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
		  font-weight: normal;
		  font-style: normal;
	}
	*/
	
	
	
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/******************************          Image Responsive          ******************************/

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/******************************          Buttons          ******************************/
.btn {
  border-radius: 6px;
  transition: all 300ms;
  cursor: pointer;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
}
.btn_container {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 30px;
}
.btn_container .btn {
  margin-right: 20px;
}
.btn_container .btn:last-child {
  margin-right: 0!important;
}
@media screen and (max-width: 700px) {
  .btn_container {
    text-align: center;
  }
}
.btn_block {
  width: 100%;
  display: block;
  text-align: center;
}
.btn_green {
  font-family: arial, helvetica, sans-serif;   
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 700;
  background: #3CCD57;
  color: white !important;
    
}

.btn_green:hover {
    background: #009530!important;
}

.btn_blue {
  font-family: arial, helvetica, sans-serif;   
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 700;
  background-image: -moz-linear-gradient(to bottom, #46bff3, #3399cc);
    background-image: -webkit-linear-gradient(to bottom, #46bff3, #3399cc);
    background-image: -ms-linear-gradient(to bottom, #46bff3, #3399cc);
    background-image: linear-gradient(to bottom, #46bff3, #3399cc);
  color: white !important;
    
}

.btn_blue:hover {
   background-image: -moz-linear-gradient(to bottom, #3399cc, #3399cc);
    background-image: -webkit-linear-gradient(to bottom, #3399cc, #3399cc);
    background-image: -ms-linear-gradient(to bottom, #3399cc, #3399cc);    
   background-image: linear-gradient(to bottom, #3399cc, #3399cc);
}

.btn_shadow_hover {
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
}
.btn_shadow_hover:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.btn_shadow {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.btn_white {
  color: #00A6B5;
  background: #fff;
}
.btn_white:hover {
  background: #f1f1f1;
}
.btn_white:active {
  color: #fff;
  background: #003db8;
}
.btn_white_border {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  padding: 13px 23px;
}
.btn_white_border:hover {
  color: #00A6B5;
  background: #fff;
}
.btn_white_border:active {
  color: #fff;
  background: #003db8;
}
.btn_black_border {
  color: #000;
  border: 2px solid #000;
  background: transparent;
  padding: 13px 23px;
}
.btn_black_border:hover {
  color: #000;
  background: #fff;
}
.btn_black_border:active {
  color: #000;
  background: #ccc;
}
.btn_facebook {
  color: #fff;
  background: #3b5998;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center!important;
      -ms-flex-align: center!important;
          align-items: center!important;
  padding: 11px 25px;
}
.btn_facebook span {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn_facebook span i {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: left;
  font-size: 26px;
}
.btn_i {
  margin-right: 10px;
}
.i_place_blue {
  color: #00aeef!important;
}
.i_place_light_blue {
  color: #a4dbff!important;
}
.i_place_red {
  color: #f0123c!important;
}
.i_place_orang {
  color: #f26c4f!important;
}
.i_place_green {
  color: #197b30!important;
}
.i_place_light_green {
  color: #8dc63f!important;
}
.i_place_violet {
  color: #662d91!important;
}
.i_place_light_violet {
  color: #b282d6!important;
}
.i_place_gray {
  color: #cccccc!important;
}
.back {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #93a7cf;
  margin: 10px 20px 0;
  padding: 0;
}
.back i {
  font-size: 26px;
  margin-right: 10px;
}


@media screen and (max-width: 700px) {
    .xs-hidden {
        display: none;
    }
}

.asterisk {
    font-size: 11px;
    font-style: italic;
    line-height: 16px;
}


.video1 {
    height: 245px;
}

.mobile-facebook-feed {
    display: none;
}

.twitter-feed {
   width:400px;
    height: 500px; 
}

.mobile-only {
    display: none !important;
}


@media screen and (max-width: 700px) {
    .video1 {
    height: 225px;
}
    .desktop-facebook-feed {
    display: none;
}
    .mobile-facebook-feed {
    display: inherit;
}
    
  .twitter-feed {
    display: none; 
}
    .mobile-only {
        display: inherit !important;
    }
    
    .desktop-only {
        display:none;
    }
}



/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color:#3DCD58;
		border-radius: 0.375em;
		border: 0;
		color: #fff !important;
		cursor: pointer !important;
		display: inline-block;
		font-family: 'Nunito', sans-serif;
		font-size: 0.8em;
		font-weight: 700;
		height: 3.5em;
		letter-spacing: 0.075em;
		line-height: 3.5em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
        box-shadow: none;
        text-transform: none;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
        box-shadow: none;    
		color: #fff !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
            box-shadow: none;
		color: #fff !important;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.6em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.15em;
			height: 3.15em;
			line-height: 3.25em;
            font-weight: 800;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #6cc5af;
			box-shadow: none;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #77c9b5;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #61c1a9;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

#intro .button {
    background-color:#3DCD58;
    color: #fff !important;
}

ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(210, 215, 217, 0.75);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

@media screen and (max-width: 736px) {

			#header {
				padding-top: 0em;
			}

				#header .logo img {
            width: 175px;
        }

				#header .icons {
					height: 5em;
					line-height: 5em;
					position: absolute;
					right: -0.5em;
					top: 0;
				}
            .video iframe {
                height: 200px !important;
                padding-bottom: 1em;
            }

		}

.video iframe{
    height:275px;
}
