body {
    width: 320px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.wrap {
    width: 320px;
    height: 50px;
    border: 1px solid #bcbcbc;
    overflow: hidden;
    box-sizing: border-box;
}

.bg {
    position: relative;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 50px;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.heroes {
    width: 140px;
}

.explore {
    width: 140px;
}

.logo {
    width: 100px;
    position: absolute;
    margin: 0;
    top: 15px;
    right: 13px;
}

.cta {
    width:100px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    }
      
.cta:hover {
    transform: scale(1.1)
}

.border {
    width: 11px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.one {
    position: absolute;
    width: 140px;
    top:0px;
    left:58px;
    opacity: 0;
    animation:fade 7s;
    -webkit-animation:fade 7s;
    animation-iteration-count: 2;
}

.two {
    position: absolute;
    width: 140px;
    top:0px;
    left:58px;
    opacity: 0;
    animation:fade2 7s;
    -webkit-animation:fade2 7s;
    animation-iteration-count: 2;
}

.three {
    position: absolute;
    top: 12px;
    left:65px;
    animation:fade3 7s;
    -webkit-animation:fade3 7s;
    animation-iteration-count: 2;
}

@keyframes fade {
    0% {opacity:0;}
    10% {opacity:1;}    
    33% { opacity: 1}
    43% { opacity: 0}
    100% { opacity: 0;}
}
@keyframes fade2 {
    0%  {opacity:0;}
    33% { opacity: 0}
    43% { opacity: 1} 
    66% { opacity: 1} 
    76% { opacity: 0}    
    100% { opacity: 0;}
}

@keyframes fade3 {
    0%  {opacity:0;} 
    66% { opacity: 0}
    76% { opacity: 1}    
    100% { opacity: 1;}
}