@font-face {
    font-family: CoreCivic_Bold;
    src: url(https://hireclix.github.io/hosting/corecivic/fonts/AkzidGroBQMd.otf);
}

@font-face {
    font-family: CoreCivic_Light;
    src: url(https://hireclix.github.io/hosting/corecivic/fonts/AkzidGroBQLig.otf);
}


/* This is the styling for the Feed Title link in the header container*/
.fw-feed-item-title {
  font-family: 'CoreCivic_Bold', Helvetica, sans-serif !important;
}


/* This is the styling for the Feed Item content in the body container*/
.fw-feed-item-content-module {
    font-family: 'CoreCivic_Light', Helvetica, sans-serif !important;
}
