/* CoreCivic Custom CSS | HireClix 2017 */

/* Who We Are Page */

.whoweare-background {
  background: url(http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/who-we-are/who-we-are-header_v1.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.whoweare-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.5em;
  margin-bottom: 0; }

.whoweare-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.whoweare-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#about {
    padding: 0 40px;
}

#about p {
    font-size: 1.2em;
}

#about .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#about h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 3.5em;
}

/* Culture Page */

.culture-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/culture/culture-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.culture-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 0; }

.culture-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.culture-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#culture {
    padding: 0 40px;
    margin-top:-3em;
}

#culture p {
    font-size: 1.1em;
}

#culture .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#culture h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
}

#culture .bio {
    float: right;
    width: 450px;
    margin: 0 3em
}

/* Benefits Page */

.benefits-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/benefits/benefits-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.benefits-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 2.25em;
  margin-bottom: 0; }

.benefits-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.benefits-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#benefits {
    padding: 0 40px;
    margin-top:-3em;
}

#benefits p {
    font-size: 1.1em;
}

#benefits .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#benefits h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
}

#benefits h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

/* FSM Page */

.fsm-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/fsm/fsm_header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.fsm-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.25em;
  margin-bottom: 0; 
  line-height: 1.25em;
}

.fsm-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.fsm-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#fsm {
    padding: 0 40px;
    margin-top:-3em;
}

#fsm p {
    font-size: 1.1em;
}

#fsm .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#fsm h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
}

#fsm h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#fsm a {
    color: #a12221; 
    font-family: light, Helvetica, sans-serif;
    text-decoration: underline;
}

#fsm .button {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    text-decoration: none;
}

#fsm .button:hover {
    color: #fff !important; 
}

#fsm a:hover {
    color: #801b1a !important; 
}

/* Programs Page */

.programs-background {
  background: url(
https://recruit.smashfly.com/SmashFlyMedia/Images/13195/13195_1008_programs-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.programs-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.25em;
  margin-bottom: 0; 
  line-height: 1.25em;
}

.programs-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.programs-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#programs {
    padding: 0 40px;
    margin-top:-3em;
}

#programs p {
    font-size: 1.1em;
}

#programs .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#programs h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
}

#programs h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#programs a {
    color: #a12221; 
    font-family: light, Helvetica, sans-serif;
    text-decoration: underline;
}

#programs .button {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    text-decoration: none;
}

#programs .button:hover {
    color: #fff !important; 
}

#programs a:hover {
    color: #801b1a !important; 
}

/* Career Paths Page */

.career-paths-background {
  background: url(
https://recruit.smashfly.com/SmashFlyMedia/Images/13195/13195_1007_career-paths-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.career-paths-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.25em;
  margin-bottom: 0; 
  line-height: 1.25em;
}

.career-paths-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.career-paths-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#career-paths {
    padding: 0 40px;
    margin-top:-3em;
}

#career-paths p {
    font-size: 1.1em;
}

#career-paths .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#career-paths h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
}

#career-paths h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#career-paths a {
    color: #a12221; 
    font-family: light, Helvetica, sans-serif;
    text-decoration: underline;
}

#career-paths .button {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    text-decoration: none;
}

#career-paths .button:hover {
    color: #fff !important; 
}

#career-paths a:hover {
    color: #801b1a !important; 
}

.teacher-spotlight {
    border: 3px solid #0f0f3f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.teacher-spotlight .title {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    font-size: 1.75em;
    background-color: #0f0f3f;
    padding: .25em 1em;
    text-align: center;
}

.teacher-spotlight .content {
    display: inline-block;
}

.teacher-spotlight .content img {
    max-width: 40%;
}

.teacher-spotlight .content p {
    max-width: 60%; 
    float:right; 
    padding-right:3em;
    padding-left: 1em;
    font-size: 1.15em !important;
}

.teacher-spotlight .content .quote {
    font-size: 1.25em;
    font-style: italic;
    color: #0f0f3f;
}

.teacher-spotlight .content .medium {
    font-family: medium, Helvetica, sans-serif;
}

@media screen and (max-width: 980px) {
    .teacher-spotlight .content img {
    max-width: 30%;
    }

    .teacher-spotlight .content p {
        max-width: 70%; 
        float: right !important;
        padding:0em 1em;
    }    
}

@media screen and (max-width: 767px) {
    
    .teacher-spotlight .content {
    text-align: center;
    }
    
    .teacher-spotlight .content img {
    max-width: 100%;
    }

    .teacher-spotlight .content p {
        max-width: 100%; 
        float: none !important;
        padding:0em 1em;
    }  
}

/* Military-Form Page */



#military-form {
    padding: 160px 40px;
    margin-top:-3em;
}

#military-form p {
    font-size: 1.1em;
}

#military-form .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#military-form h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
    text-align: center;
}

#military-form h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#military-form a {
    color: #a12221; 
    font-family: light, Helvetica, sans-serif;
    text-decoration: underline;
}

#military-form .button {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    text-decoration: none;
}

#military-form .button:hover {
    color: #fff !important; 
}

#military-form a:hover {
    color: #801b1a !important; 
}



/* Military Page */

.military-background {
  background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/13195/13195_1001_military-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.military-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.25em;
  margin-bottom: 0; 
  line-height: 1.25em;
}

.military-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.military-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#military {
    padding: 0 40px;
    margin-top:-3em;
}

#military p {
    font-size: 1.1em;
}

#military .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#military h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
}

#military h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#military a {
    color: #a12221; 
    font-family: light, Helvetica, sans-serif;
    text-decoration: underline;
}

#military .button {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    text-decoration: none;
}

#military .button:hover {
    color: #fff !important; 
}

#military a:hover {
    color: #801b1a !important; 
}

.vet-spotlight {
    border: 3px solid #0f0f3f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vet-spotlight .title {
    color: #fff; 
    font-family: medium, Helvetica, sans-serif;
    font-size: 1.75em;
    background-color: #0f0f3f;
    padding: .25em 1em;
    text-align: center;
}

.vet-spotlight .content {
    display: inline-block;
}

.vet-spotlight .content img {
    max-width: 30%;
}

.vet-spotlight .content p {
    max-width: 75%; 
    float:right; 
    padding-right:3em;
    font-size: 1.15em !important;
}

.vet-spotlight .content .quote {
    font-size: 1.25em;
    font-style: italic;
    color: #0f0f3f;
}

.vet-spotlight .content .medium {
    font-family: medium, Helvetica, sans-serif;
}

@media screen and (max-width: 980px) {
    .vet-spotlight .content img {
    max-width: 30%;
    }

    .vet-spotlight .content p {
        max-width: 70%; 
        float: right !important;
        padding:0em 1em;
    }    
}

@media screen and (max-width: 767px) {
    
    .vet-spotlight .content {
    text-align: center;
    }
    
    .vet-spotlight .content img {
    max-width: 100%;
    }

    .vet-spotlight .content p {
        max-width: 100%; 
        float: none !important;
        padding:0em 1em;
    }  
}

/* News Page */

.news-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/news/news-header_v2.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.news-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.25em;
  margin-bottom: 0; }

.news-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.news-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#news {
    padding: 0 40px;
    margin-top:-3em;
}

#news p {
    font-size: 1.1em;
}

#news .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#news .light-blue {
    font-family: light, Helvetica, sans-serif;
    color: #0f0f3f;
}

#news h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
    line-height: 1.25em;
}

#news h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#news h3 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 1.5em;
}

#news a {
    color: #0f0f3f;
    font-weight: bold;
}

#news a:hover {
    text-decoration: underline;
}

/* Security Page */

.security-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/security/security-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.security-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 4.25em;
  margin-bottom: 0; }

.security-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.security-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#security {
    padding: 0 40px;
    margin-top:-3em;
}

#security p {
    font-size: 1.1em;
}

#security .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#security .light-blue {
    font-family: light, Helvetica, sans-serif;
    color: #0f0f3f;
}

#security h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
    line-height: 1.25em;
}

#security h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#security h3 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 1.5em;
}

/* Community Page */

.community-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/community/community-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.community-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 4.25em;
  margin-bottom: 0; }

.community-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.community-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#community {
    padding: 0 40px;
    margin-top:-3em;
    display: inherit !important;
}

#community p {
    font-size: 1.1em;
}

#community .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#community .light-blue {
    font-family: light, Helvetica, sans-serif;
    color: #0f0f3f;
}

#community h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
    line-height: 1.25em;
}

#community h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#community h3 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 1.5em;
}


/* Corporate Page */

.corporate-background {
  background: url(
http://jobs.corecivic.com/Views/Client/8dc4a657-f3b9-4967-bf13-de8e447ff866/images/corporate/corporate-header.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 38.98%; }

.corporate-background .overlay h1 {
  color: #fff;
  font-weight: normal;
  font-size: 3.25em;
  margin-bottom: 0; }

.corporate-background .overlay h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0; }

.corporate-background .overlay {
    text-align: left;
    padding-left: 5em;
}

#corporate {
    padding: 0 40px;
    margin-top:-3em;
    display: inherit !important;
}

#corporate p {
    font-size: 1.1em;
}

#corporate .light {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
}

#corporate .light-blue {
    font-family: light, Helvetica, sans-serif;
    color: #0f0f3f;
}

#corporate h1 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 2.25em;
    line-height: 1.25em;
}

#corporate h2 {
    font-family: light, Helvetica, sans-serif;
    color: #a12221;
    font-size: 2.25em;
}

#corporate h3 {
    font-family: medium, Helvetica, sans-serif;
    color: #0f0f3f;
    font-size: 1.5em;
}

.mobile-only {
    display: none !important;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    
    #benefits {
    padding-top: 7em;     
    margin-top:0em;
}
    
    #news {
    padding-top: 7em;     
    margin-top:0em;
}
    
      #about {
    padding-top: 7em;     
    margin-top:0em;
}
    
     #security {
    padding-top: 7em;     
    margin-top:0em;
}
    
    #community {
    padding-top: 7em;     
    margin-top:0em;
}
    
    #corporate {
    padding-top: 7em;     
    margin-top:0em;
}
    
    #benefits .button {
        font-size: .9em;
    }
    
    #culture {
    margin-top:0em;
}
    #fsm {
    margin-top:7em;
}
    
    #benefits h1 {
    line-height: 1.1em;    
    font-size: 1.7em;
}
    
    #news h1 {
    line-height: 1.1em;    
    font-size: 1.7em;
}
    
    #security h1 {
    line-height: 1.1em;    
    font-size: 1.8em;
}
    
    #community h1 {
    line-height: 1.1em;    
    font-size: 1.8em;
}
    
    #corporate h1 {
    line-height: 1.1em;    
    font-size: 1.8em;
}
    
    #fsm h1 {
    line-height: 1.1em;    
    font-size: 1.8em;
}
    
    #about h1 {
    font-size: 2.5em;
}
    #culture h1 {
    padding-top: 2.5em;
    line-height: 1.1em;    
    font-size: 2.5em;
}
    .whoweare-background {
        display: none;
    }
    
    .culture-background {
        display: none;
    }
    
    .career-paths-background {
        display: none;
    }
    
     .benefits-background {
        display: none;
    }
    
    .news-background {
        display: none;
    }
    
    .security-background {
        display: none;
    }
    
    .community-background {
        display: none;
    }
    
    .corporate-background {
        display: none;
    }
    
    .fsm-background {
        display: none;
    }
    
    .military-background {
        display: none;
    }
    
    .programs-background {
        display: none;
    }
    
    .mobile-only {
        display: inherit !important;
    }
    
    .desktop-only {
        display: none !important;
    }
    
    #culture .bio {
    float: none;
    width: 275px;
    margin: 0 0 1em 0;
}
}


@media screen and (max-width: 1020px) {
    .overlay h1 {
        margin-top: -1em;
    }
    
    
}

.overlay {
        width: 100% !important;
    }
    
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=33c7e6ddf700f2b24606275bb29f96c0)
 * Config saved to config.json and https://gist.github.com/33c7e6ddf700f2b24606275bb29f96c0
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
