/* CVS Custom Page Stylesheet | HireClix 2017 | creative@hireclix.com */


/* Awards & Recognition Page */

#awards-hero .hero-content.hero-full-image .text-overlay h1 {
    max-width: 100%;
}

#awards-hero .hero-content.hero-full-image .text-overlay {
    max-width: 100%;
}

@media only screen and (max-width: 750px) {
    #awards-hero .hero-content.hero-full-image .text-overlay {
        max-width: 300px;
    }
    
    #awards-hero .hero-content.hero-full-image {
    min-height: 325px !important;
}
}

#awards-hero .hero-content.hero-full-image {
    background: #e9e9e9;
    min-height: 300px;
}

#awards-hero .hero-content.hero-full-image .text-overlay p {
    width: 90%;
    color: #646464;
}

#awards .video-wrapper {
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    clear: both;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

#awards .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media only screen and (max-width: 750px) {
    #awards .video-wrapper {
        padding-bottom: 65%;
    }
}

#awards .award-box {
    background-color: #e9e9e9;
    color: #000;
    margin: 0 0 32px;
}

#awards.three-col .award-box {
    min-height: 520px;
}

#awards.four-col .award-box {
    min-height: 540px;
}

#awards .award-box .image-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

#awards .award-box .image-wrapper img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 0;
}

#awards .award-box .image-wrapper img:hover {
    opacity: .75;
}

#awards .award-box .content-wrapper {
    padding: 32px;
}

#awards .award-box .content-wrapper h4 {
    font-size: 20px;
    line-height: 24px;
}

#awards .award-box .content-wrapper p {
    font-size: 15px;
}

/* Residencies Page */

#residencies-hero .hero-content.hero-full-image {
    min-height: 325px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1464_residencies-hero.jpg) 20% center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #residencies-hero .hero-content.hero-full-image {
    min-height: 200px;
    }
    
    #residencies-hero .hero-content.hero-full-image .text-overlay h1 {
        padding-left:0;
    }
    
    #residencies-hero .hero-content.hero-full-image .text-overlay h1:before {
    left: -16px !important;
}
}

@media (min-width: 64rem){    
    #residencies-hero .hero-content.hero-full-image .text-overlay {
        top:100px;
    }
}

#residencies-hero .hero-content.hero-full-image .text-overlay h1:before {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1476_flipped_heart.png),none;
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 10;
    width: 20px; 
}

#residencies {
    background: #e9e9e9;
}

#residencies .body-copy {
    background: #fff;
    padding: 32px;
}

#residencies .body-copy ul {
    list-style: disc;
}

#residencies .body-copy ul.indent {
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 0px;
}

#residencies .body-copy a {
    color: #c00;
}

#residencies .body-copy a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 750px) {
    #residencies .first {
        padding-left: 0 !important;
    }

    #residencies .second {
        padding-right: 0 !important;
    }
    
    #residencies .full-width {
        padding: 0 !important;
    }
}

#residencies .color-box-teal {
    background-color: #37baab;
    color: #fff;
    margin: 0 0 32px;
    float: left;
}

#residencies .color-box-orange {
    background-color: #ea7600;
    color: #fff;
    margin: 0 0 32px;
    float: left;
}

#residencies .color-box-teal>div.content-wrapper, #residencies .color-box-orange>div.content-wrapper {
    float: right;
    padding: 32px 32px 0 0;
    width: calc(64% - 32px);
    min-height: 225px;
}

#residencies .color-box-teal .content-wrapper h3, #residencies .color-box-orange .content-wrapper h3 {
     font-size: 1.75em;
     line-height: 1.25em;
}

#residencies .color-box-teal>div.image-wrapper {
    float: left;
    padding: 2px;
    width: 36%;
    position: relative;
}

#residencies .color-box-orange>div.image-wrapper {
    float: left;
    padding: 2px 2px 2px 20px;
    width: 36%;
    position: relative;
}

#residencies .color-box-teal .content-wrapper a, #residencies .color-box-orange .content-wrapper a {
    color: #fff;
}

#residencies .color-box-teal .content-wrapper a:hover, #residencies .color-box-orange .content-wrapper a:hover {
    text-decoration: underline;
}

#residencies .color-box-teal .image-wrapper {
    padding-top:35px !important;
}

#residencies .color-box-orange .image-wrapper {
    padding-top: 50px !important;
}

#residencies .color-box-teal .image-wrapper img, #residencies .color-box-orange .image-wrapper img  {
    width: 100%;
}

#residencies .related-content {
    float: left;
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

#residencies .related-content .related-content-img-wrap {
    width: 35%;
    float: left;
}

@media only screen and (max-width: 750px) {
    #residencies .related-content .related-content-img-wrap {
        width: 100% !important;
    }
    #residencies .related-content .related-content-link-wrap {
        width: 100% !important;
        padding-top: 0 !important;
    }
}

#residencies .related-content .related-content-img-wrap img {
    width: 100%;
    max-width: 100%;
}

#residencies .related-content .related-content-link-wrap {
    display: inline-block;
    width: calc(65% - 64px);
    padding: 40px 32px 0 32px;
}

#residencies .related-content .related-content-link-wrap h4 {
    font-size: 1.75em;
    line-height: 1em;
}

#residencies .related-content .related-content-link-wrap p {
    color: #646464;
}

#residencies .related-content .related-content-link-wrap a {
    color:#c00;
}

#residencies .related-content .related-content-link-wrap a:hover {
    text-decoration: underline;
}

/* How to Apply Page */

#howtoapply-hero .hero-content.hero-full-image .text-overlay h1 {
    max-width: 100%;
}

#howtoapply-hero .hero-content.hero-full-image .text-overlay {
    max-width: 60%;
}

@media only screen and (max-width: 750px) {
    #howtoapply-hero .hero-content.hero-full-image .text-overlay {
        max-width: 300px;
    }
    
    #howtoapply-hero .hero-content.hero-full-image {
    min-height: 325px !important;
}
}

@media (min-width: 64rem){    
    #howtoapply-hero .hero-content.hero-full-image .text-overlay {
        top:25px;
    }
}

#howtoapply-hero .hero-content.hero-full-image {
    background: #e9e9e9;
    min-height: 250px;
}

#howtoapply-hero .hero-content.hero-full-image .text-overlay p {
    width: 90%;
    color: #646464;
}

#howtoapply {
    background: #e9e9e9;
}

#howtoapply .body-copy {
    background: #fff;
    padding: 32px;
    width: 100%;
    margin: 1em auto 0;
}

#howtoapply .body-copy h3 {
    padding-top: 1.25em;
    text-align: center;
}

#howtoapply .body-copy .hta-graphic {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1462_hta-Infographic_Sm_2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 1296%;
}

@media screen and (min-width: 550px) {
    #howtoapply .body-copy .hta-graphic {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1461_hta-Infographic_big_2.png);
    padding-bottom: 260%;
}
}    
    
@media only screen and (min-width: 750px) {
    #howtoapply .full-width {
        padding: 0 !important;
    }
}

    
#howtoapply .health-info {
    background: #fff;
    padding: 2em;
    margin: 0 auto;
}
    
#howtoapply .health-info h2 {
    text-align: center;
    font-size: 2.25em;
    line-height: 1em;
    position: relative;
    max-width: 335px;
    margin: 0 auto .5em;    
}
    
#howtoapply .health-info h2:before {    
    content: '';
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1477_heading-bracket-red.png);
    position: absolute;
    left: -12px;
    top: -8px;
    height: 13px;
    width: 13px; 
}

@media only screen and (max-width: 750px) {
    #howtoapply .health-info h2:before {    
        left: 65px;
        top: -5px;
        height: 13px;
        width: 13px; 
    }   
}
    
#howtoapply .health-info p {
    font-size: 0.6em;
    line-height: normal;
    max-width: 635px;
    margin: 0 auto;
}

/* Pharm F&R Page */

#pharmfr-hero .hero-content.hero-full-image {
    min-height: 325px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1464_residencies-hero.jpg) 20% center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #pharmfr-hero .hero-content.hero-full-image {
    min-height: 200px;
    }
    
    #pharmfr-hero .hero-content.hero-full-image .text-overlay h1 {
        padding-left:30px;
    }
    
    #pharmfr-hero .hero-content.hero-full-image .text-overlay h1:before {
    left: 15px !important;
}
}

@media (min-width: 64rem){    
    #pharmfr-hero .hero-content.hero-full-image .text-overlay {
        top:70px;
    }
}

#pharmfr-hero .hero-content.hero-full-image .text-overlay h1:before {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1476_flipped_heart.png),none;
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 10;
    width: 20px; 
}

#pharmfr {
    background: #e9e9e9;
}

#pharmfr .body-copy {
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 32px;
    width: 100%;
    margin: 0 auto;
}

#pharmfr .residency-box {
    background-color: #e9e9e9;
    color: #000;
    margin: 0 0 32px;
}

#pharmfr.two-col .item-2 {
    padding: 0 10px;
}

#pharmfr.three-col1 .residency-box {
    min-height: 450px;
}

#pharmfr.three-col2 .residency-box {
    min-height: 515px;
}

#pharmfr.two-col .residency-box, #pharmfr.two-col .color-box-red {
    min-height: 460px;
}

#pharmfr .residency-box .image-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

#pharmfr .residency-box .image-wrapper img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: 0;
}

#pharmfr .residency-box .image-wrapper img:hover {
    opacity: .75;
}

#pharmfr .residency-box .content-wrapper {
    padding: 32px;
}

#pharmfr .residency-box .content-wrapper h4 {
    font-size: 20px;
    line-height: 24px;
}

#pharmfr .residency-box .content-wrapper a {
    color: #000;
}

#pharmfr .residency-box .content-wrapper a:hover {
    color: #c00;
}

#pharmfr .residency-box .content-wrapper p {
    font-size: 15px;
}

#pharmfr .color-box-red {
    background: #c00;
    color: #fff;
    padding: 32px;
}

#pharmfr .color-box-red h1 {
    color: #fff;
}

.btn-white {
    color: #fff!important;
    background-color: transparent;
    border: 2px solid #fff;
}
.btn-white:focus,
.btn-white:hover {
    color: #c00!important;
    background-color: #fff;
}

.btn-redwhite {
    color: #c00!important;
    background-color: #fff;
    border: 2px solid #c00;
}
.btn-redwhite:focus,
.btn-redwhite:hover {
    color: #fff!important;
    background-color: #c00;
}

/* Meet the Team Page */

#mtt-hero .hero-content.hero-full-image {
    min-height: 425px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1464_residencies-hero.jpg) 20% center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #mtt-hero .hero-content.hero-full-image {
    min-height: 200px;
    }
    
    #mtt-hero .hero-content.hero-full-image .text-overlay h1 {
        padding-left:0;
    }
    
    #mtt-hero .hero-content.hero-full-image .text-overlay h1:before {
    left: -16px !important;
}
}

@media (min-width: 64rem){    
    #mtt-hero .hero-content.hero-full-image .text-overlay {
        top:60px;
    }
}

#mtt-hero .hero-content.hero-full-image .text-overlay h1:before {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1476_flipped_heart.png),none;
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 10;
    width: 20px; 
}

#mtt-hero .hero-content.hero-full-image .text-overlay h1 {
    max-width: 450px;
}

#mtt-hero .hero-content.hero-full-image .text-overlay p {
    max-width: 450px;
    width: 450px;
}

#mtt-hero .hero-content.hero-full-image .text-overlay {
    max-width: 500px;
}

@media only screen and (max-width: 750px) {
    #mtt-hero .hero-content.hero-full-image .text-overlay {
        max-width: 300px;
    }
    
    #mtt-hero .hero-content.hero-full-image {
    min-height: 325px !important;
}
}

#residencies .video-wrapper {
    position: relative;
    width: 44em;
    margin: 0 auto;
}

@media only screen and (max-width: 750px) {
    #residencies .video-wrapper {
    position: relative;
    width: 20em;
    }
}

.owl-carousel .item-video{height:300px}


/* Internships Page */

#internships-hero .hero-content.hero-full-image {
    min-height: 525px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1479_hero-internship.png) 20% center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #internships-hero .hero-content.hero-full-image {
    min-height: 775px;
    }
    
    #internships-hero .hero-content.hero-full-image .text-overlay h1 {
        padding-left:30px;
        width:350px;
    }
    
    #internships-hero .hero-content.hero-full-image .text-overlay {
        left:0px;
    }
    
    #internships-hero .hero-content.hero-full-image .text-overlay h1:before {
    left: 15px !important;
}
    
    #internships-hero .hero-content.hero-full-image .mobile-hero {
    display: inherit !important;
}
}

@media (min-width: 64rem){    
    #internships-hero .hero-content.hero-full-image .text-overlay {
        top:40px;
    }
}

#internships-hero .hero-content.hero-full-image .text-overlay h1:before {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1476_flipped_heart.png),none;
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 10;
    width: 20px; 
}

#internships-hero .hero-content.hero-full-image .text-overlay h3 {
    left: 25px;
    position: relative;
    margin-bottom: 0;
}

#internships-hero .hero-content.hero-full-image .text-overlay p {
    top:10px
}

#internships-hero .hero-content.hero-full-image .mobile-hero {
    display: none;
}


#internships-hero2 .hero-content.hero-full-image {
    min-height: 680px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1481_hero-internship2.png) top center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #internships-hero2 .hero-content.hero-full-image {
    min-height: 1200px;
    }
    
    #internships-hero2 .hero-content.hero-full-image .text-overlay h1 {
        padding-left:30px;
        width:350px;
    }
    
    #internships-hero2 .hero-content.hero-full-image .text-overlay {
        left:0px;
    }
    
    #internships-hero2 .hero-content.hero-full-image .text-overlay h1:before {
    left: 15px !important;
}
    
    #internships-hero2 .hero-content.hero-full-image .mobile-hero {
    display: inherit !important;
}
}

@media (min-width: 64rem){    
    #internships-hero2 .hero-content.hero-full-image .text-overlay {
        top:40px;
        max-width:600px;
    }
    
    #internships-hero2 .hero-content.hero-full-image .text-overlay h1 {
        max-width:600px;
    }
}

@media screen and (min-width: 800px) {
#internships-hero2 .hero-content.hero-full-image .text-overlay ul span:not(.tile-text) {
    font-size: 4.5rem;
    display: inline-block;
    line-height: 60px;
}
}

#internships-hero2 .hero-content.hero-full-image .text-overlay h1:before {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1476_flipped_heart.png),none;
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 10;
    width: 20px; 
}

#internships-hero2 .hero-content.hero-full-image .text-overlay h3 {
    left: 25px;
    position: relative;
    margin-bottom: 0;
}

#internships-hero2 .hero-content.hero-full-image .text-overlay p {
    top:10px
}

#internships-hero2 .hero-content.hero-full-image .mobile-hero {
    display: none;
}


@media only screen and (min-width: 750px) {
#internships-hero2 .hero-content.hero-full-image .text-overlay ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 670px;
}
    


#internships-hero2 .hero-content.hero-full-image .text-overlay li:first-of-type {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 calc(50% - 26px);
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: calc(50% - 26px);
}

#internships-hero2 .hero-content.hero-full-image .text-overlay li:nth-of-type(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 calc(50% - 27px);
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: calc(50% - 27px);
}

#internships-hero2 .hero-content.hero-full-image .text-overlay li:nth-of-type(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 2 100%;
    -ms-flex: 0 2 100%;
    flex: 0 2 calc(100% - 26px);
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: calc(100% - 26px);
}
    
    #internships-hero2 .hero-content.hero-full-image .text-overlay li {
    margin: 13px;
}
    
}

#internships-hero2 .hero-content.hero-full-image .text-overlay .red {
    padding-right: 19%;
}



#internships-hero2 .hero-content.hero-full-image .text-overlay li {
    padding: 20px 15px 30px;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 600;
}

#internships-hero2 .hero-content.hero-full-image .text-overlay li.gray:before {
    width: 207px !important;
    height: 88px !important;
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1482_internship_icon.png);
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

@media screen and (min-width: 800px)
    {
#internships-hero2 .hero-content.hero-full-image .text-overlay li.gray:before {
    margin-right: 14%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
        }
        
#internships-hero2 .hero-content.hero-full-image .text-overlay li.gray .tile-text {
    display: inline-block;
    width: calc(86% - 207px);
    vertical-align: middle;
}
}



#internships-hero2 .hero-content.hero-full-image .text-overlay li.red {
    background-color: #c00;
    color: #fff;
}

#internships-hero2 .hero-content.hero-full-image .text-overlay li.blue {
    background-color: #b8e3eb;
}

#internships-hero2 .hero-content.hero-full-image .text-overlay li.gray {
    background-color: #d1cccc;
}





#internships .lite-blue_bg {
    background: #b8e3eb;
}

#internships .red_bg {
    background: #c00;
    color: #fff
}

#internships .orange_bg {
    background: #cb6500;
    color: #fff
}

#internships .quote_bg {
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1484_quote-internship.jpg);
    background-size: cover;
    color: #fff;
    height: 500px;   
}

@media screen and (max-width: 750px) {
    
    
    .quote .container {
        align-items: flex-end !important;
    }
    
    #internships .quote_bg  p:first-of-type {
    font-size: 1.25em !important;
}
    
    #internships .quote_bg p:first-of-type:before, #internships .quote_bg p:first-of-type:after {
         font-size: 4rem !important;
    }
}

#internships .quote_bg .content-wrapper {
    background: rgba(0,0,0,.75);
    padding: 60px 70px;
}

#internships .quote_bg  p:first-of-type {
    font-size: 1.75em;
}

#internships .quote_bg p:first-of-type:before {
    display: inline;
    margin-right: 9px;
    content: '\201C';
    font-size: 7rem;
    line-height: 0;
    vertical-align: middle;
    font-weight: 500;
}

#internships .quote_bg p:first-of-type:after {
    display: inline;
    margin-left: 9px;
    content: '\201D';
    font-size: 7rem;
    line-height: 0;
    vertical-align: bottom;
    font-weight: 500;
    top: 0.5vw;
    position: relative;
}

@media screen and (min-width: 1000px) {
#internships .quote_bg p:first-of-type:before {
    margin-left: calc(-3vw - 7px);
    font-size: 6vw;
 }
   
    #internships .quote_bg p:first-of-type:after {    
    margin-left: .5rem;
    font-size: 6vw;
    }
}

#internships .orange_bg .content-wrapper .btn-white:hover {
    color: #cb6500 !important;
}

#internships .purple_bg {
    background: #93277e;
    color: #fff
}

#internships .purple_bg .content-wrapper .btn-white:hover {
    color: #93277e !important;
}

#internships .container {
    align-items: center;
  justify-content: center;
}

#internships .item-1 {
   padding: 0 !important; 
}

#internships .item-2 {
    padding: 0 !important;
    flex: 1;
}

@media only screen and (max-width: 750px) {
    #internships .item-2 {
        order: 2;
    }
    
    #internships .content-wrapper {
        padding: 0 2em !important;
    }
    
    #internships .quote_bg .content-wrapper {
        padding: 2em 2em !important;
    }
    
    #internships .quote_bg .item-2 {
        flex: 1 1 auto;
    }
    
    #internships .red_bg .content-wrapper .btn-white, #internships .orange_bg .content-wrapper .btn-white {
    width:100% !important;
    max-width:1000px !important;
}
}


#internships .image-container img {
    width: 100%;
    max-width: 100%;
}

#internships .content-wrapper {
    padding: 0 7em;
}

#internships .content-wrapper p {
    font-weight: 300;
    line-height: 1.5;
}

#internships .red_bg .content-wrapper .btn-white, #internships .orange_bg .content-wrapper .btn-white {
    width:75%;
    max-width:800px;
}

#internships.text-callout {
    background: #c00;
}

@media only screen and (min-width: 750px) {
    #internships.text-callout .icon {
    width: 56px !important;
    height: 70px !important;
    }
}

#internships.text-callout .icon {
    width: 32px;
    height: 40px;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1483_internship_icon2.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: sub;
    margin: 0 5px;
}


/* Diversity Page */

#diversity-hero .hero-content.hero-full-image {
    min-height: 425px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1494_hero-diversity.png) 20% center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #diversity-hero .hero-content.hero-full-image {
    min-height: 925px;
    }
    
    #diversity-hero .hero-content.hero-full-image .text-overlay h1 {
        padding-left:30px;
        width:350px;
    }
    
    #diversity-hero .hero-content.hero-full-image .text-overlay {
        left:0px;
    }
    
    #diversity-hero .hero-content.hero-full-image .text-overlay h1:before {
    left: 15px !important;
}
    
    #diversity-hero .hero-content.hero-full-image .mobile-hero {
    display: inherit !important;
}
}

@media (min-width: 64rem){    
    #diversity-hero .hero-content.hero-full-image .text-overlay {
        top:40px;
        max-width: 550px;
    }
    
    #diversity-hero .hero-content.hero-full-image .text-overlay h1 {
        max-width: 550px;
    }
    
    #diversity-hero .hero-content.hero-full-image .text-overlay p {
        width: 500px;
    }
}

#diversity-hero .hero-content.hero-full-image .text-overlay h1:before {
    background-image: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1476_flipped_heart.png),none;
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 10;
    width: 20px; 
}

#diversity-hero .hero-content.hero-full-image .text-overlay h3 {
    left: 25px;
    position: relative;
    margin-bottom: 0;
}

#diversity-hero .hero-content.hero-full-image .text-overlay p {
    top:10px
}

#diversity-hero .hero-content.hero-full-image .mobile-hero {
    display: none;
}



#diversity-hero2 .hero-content.hero-full-image {
    min-height: 525px;
    position: relative;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1490_quote-david.png) 20% center/cover no-repeat
}

@media only screen and (max-width: 750px) {
        #diversity-hero2 .hero-content.hero-full-image {
    min-height: 955px;
    }
    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay h1 {
        padding-left:30px;
        width:350px;
    }
    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay h3 {
        width:325px;
    }
    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay {
        left:0px;
    }
    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay h1:before {
    left: 15px !important;
}
    
    #diversity-hero2 .hero-content.hero-full-image .mobile-hero {
    display: inherit !important;
}
}

@media (min-width: 64rem){    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay {
        top:120px;
        left:80px;
        max-width: 555px;
    }
    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay h1 {
        max-width: 550px;
    }
    
    #diversity-hero2 .hero-content.hero-full-image .text-overlay p {
        width: 500px;
    }
}

#diversity-hero2 .hero-content.hero-full-image .text-overlay h3:before {
    display: inline;
    margin-right: 9px;
    content: '\201C';
    font-size: 4.5rem;
    line-height: 0;
    vertical-align: -webkit-baseline-middle;
    font-weight: 500;
    color: #d1cccc;
    margin-left: -40px;
    
}

#diversity-hero2 .hero-content.hero-full-image .text-overlay p:nth-of-type(1):after {
    display: inline;
    margin-left: 9px;
    content: '\201D';
    font-size: 4.5rem;
    line-height: 0;
    vertical-align: -webkit-baseline-middle;
    font-weight: 500;
    top: 0.5vw;
    position: relative;
    float: right;
    margin-top: 3rem;
    font-style: normal;
    color: #d1cccc;
}

#diversity-hero2 .hero-content.hero-full-image .text-overlay h3 {
    left: 25px;
    position: relative;
    margin-bottom: 0;
    font-size: 1.35em;
}

#diversity-hero2 .hero-content.hero-full-image .text-overlay p {
    top:10px
}

#diversity-hero2 .hero-content.hero-full-image .text-overlay p.name {
    font-size: 1em;
}

#diversity-hero2 .hero-content.hero-full-image .mobile-hero {
    display: none;
}




#diversity .lite-blue_bg {
    background: #b8e3eb;
}

#diversity .lite-blue_bg p {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right: .2em;
}

@media screen and (max-width: 750px) {
    #diversity .lite-blue_bg p {
        width: 100%;
    }
}

#diversity .red_bg {
    background: #c00;
    color: #fff
}

#diversity .orange_bg {
    background: #cb6500;
    color: #fff
}

#diversity .quote_bg {
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1492_smiling-people.jpg);
    background-size: cover;
    color: #fff;
    height: 500px;   
    padding-left: 12em;
}

@media screen and (max-width: 750px) {
    
    
    .quote .container {
        align-items: flex-end !important;
    }
    
    #diversity .quote_bg  p:first-of-type {
    font-size: 1.5em !important;
}
    
    #diversity .quote_bg p:first-of-type:before, #diversity .quote_bg p:first-of-type:after {
         font-size: 4rem !important;
    }
    
    #diversity .quote_bg {
    background-position: right;
}
}

#diversity .quote_bg .content-wrapper {
    background: rgba(0,0,0,.75);
    padding: 30px 30px;
}

#diversity .quote_bg  p:first-of-type {
    font-size: 1.25em;
}
 


#diversity .orange_bg .content-wrapper .btn-white:hover {
    color: #cb6500 !important;
}

#diversity .purple_bg {
    background: #93277e;
    color: #fff
}

#diversity .purple_bg .content-wrapper .btn-white:hover {
    color: #93277e !important;
}

#diversity .container {
    align-items: center;
  justify-content: center;
}

#diversity .item-1 {
   padding: 0 !important; 
}

#diversity .item-2 {
    padding: 0 !important;
    flex: 1;
}

@media only screen and (max-width: 750px) {
    #diversity .item-2 {
        order: 2;
    }
    
    #diversity .content-wrapper {
        padding: 0 2em !important;
    }
    
    #diversity .quote_bg .content-wrapper {
        padding: 2em 2em !important;
    }
    
    #diversity .quote_bg .item-2 {
        flex: 1 1 auto !important;
    }
    
    #diversity .red_bg .content-wrapper .btn-white, #diversity .orange_bg .content-wrapper .btn-white {
    width:100% !important;
    max-width:1000px !important;
}
    
    #diversity .quote_bg {
        padding-left:0;
    }
    
    #diversity .quote_bg .content-wrapper p {
        font-size:1em !important;
    }
    
    #diversity .quote_bg .content-wrapper h1 {
        margin-bottom:.25em !important;
    }
}


#diversity .image-container img {
    width: 100%;
    max-width: 100%;
}

#diversity .content-wrapper {
    padding: 0 4em;
}

#diversity .content-wrapper p {
    font-weight: 300;
    line-height: 1.5;
}

#diversity .red_bg .content-wrapper .btn-white, #diversity.orange_bg .content-wrapper .btn-white {
    width:75%;
    /*max-width:800px;*/
}

#diversity.text-callout {
    background: #c00;
}

@media only screen and (min-width: 750px) {
    #diversity.text-callout .icon {
    width: 67px !important;
    height:67px !important;
    }
    
}

@media only screen and (max-width: 750px) {
    #diversity .video-label {
        display: none !important;
    }
 
}

#diversity.text-callout .icon {
    width: 40px;
    height: 40px;
    background: url(https://recruit.smashfly.com/SmashFlyMedia/Images/14319/14319_1489_world_icon.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: sub;
    margin: 0 5px;
}

#diversity a.video-link {
    position: relative;
    padding: 0 !important;
    display: block;
}



#diversity a.video-link:before {
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 5;
    height: 45px;
    margin-left: -23px;
    margin-top: -23px;
    width: 45px;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease-in-out;
}

#diversity a.video-link:after {
        content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease-in-out;
    z-index: 5;
    border: 11px solid transparent;
    border-left: 16px solid white;
    margin-left: -4px;
    margin-top: -10px;
}

@media only screen and (min-width: 750px) {
    #diversity a.video-link:before {
        height: 95px;
        margin-left: -45px;
        margin-top: -45px;
        width: 95px;
    }
    
    #diversity a.video-link:after {
        border: 26px solid transparent;
    border-left: 41px solid white;
    margin-left: -12px;
    margin-top: -22px;
    }
}

#diversity .video-label {
    display: block;
    color: white;
    left: 0;
    margin: 0;
    padding: 50% 2em 1em 1em;
    position: absolute;
    bottom: 0;
    width: 100% !important;
    z-index: 2;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 900;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#000000 98%);
}

