/* --------------------------------------------------
 ## COMPONENT: COUNTERS
-------------------------------------------------- */

/* Counter item
---------------------------- */
.counter-item {
	text-align: center;
	.counter-value {
		@extend .h1;
		font-size: 4em;
		line-height: 1em;		
		margin: 0;	
	}
	.counter-desc {
		margin-bottom: 0;
	}
	@include breakpoint(xxs){
		display: block;
		width: 50%;
		margin-bottom: 20px;
	}
}