<body>
<meta /><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /><link rel="stylesheet" href="https://hireclix.github.io/hosting/banfield/student-debt-relief/assets/css/main_2018-update.css" />
<div id="page-wrapper">
<div class="wrapper">
<div class="inner">
<section id="banner">
<div class="items">
<section class="accent2"><img class="intro-logo" style="display: block; margin: 0px auto;" src="https://hireclix.github.io/hosting/banfield/logos/logo-notag.png" alt="" width="190" />
<h1 style="font-weight: bold; padding-top: 0.5em;"><span style="font-size: xx-large; color: #2dccd3; line-height: 1.25em;">Banfield Veterinary Student Debt Relief Pilot Program<br /></span></h1>
    <h2 style="font-weight: bold; color: #005f86;"><span style="font-size: large; color: #2dccd3;"><strong><span style="font-size: large; color: #2dccd3;"><span style="font-size: large; color: #2dccd3;"><span style="font-size: large; color: #2dccd3;"><span style="color: #484848;"><span style="font-size: large;"><br />We know student debt impacts the well-being of veterinarians, and we're helping provide solutions for our doctors! To support the financial well-being of our veterinarians and continue to embed a culture of health and wellness, we're excited to announce the launch of the Banfield Veterinary Student Debt Relief Pilot Program.<br /><br /></span>Sign up to learn more about this new benefit and opportunities at Banfield!<br /><br />
        <ul class="actions">
<li><span class="button special"><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 5px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block;" type="button" value="[Search For Jobs]" disabled="disabled" /></span></li>
</ul>
        <span class="custom-link"><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 5px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block;" type="button" value="[Ready to chat with a talent acquisition team member? Schedule some time here!]" disabled="disabled" /></span></span><br /></span></span></span></strong> </span></h2>

<div style="background-color: #ffffff; max-width: 300.0px; margin: 0 auto;" align="center"><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 1px 2px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block; width: 260px; height: 390px;" type="button" value="[Join-Us-App]" disabled="disabled" /></div>
</section>
</div>
<div class="slider">
<div style="background: url('https://dl.dropboxusercontent.com/s/u5fj63xrt2ckqpf/EVP_Lilian_A73Y9953.jpg?dl=0'); background-position: 60.0% 10.0%; background-size: cover; height: 100.0%; position: absolute; top: 0; right: 0; width: 100.0%;"><span style="color: #05c3de;">&nbsp;</span></div>
</div>
</section>
</div>
</div>
<div class="wrapper">
<div class="wrapper">
<div class="inner">
<section class="main accent2" style="padding-left: 0; padding-right: 0;">
<h2 class="blue-strip">TOGETHER, WE ARE EMPOWERING A HEALTHY TOMORROW</h2>
</section>
<footer id="footer">
<ul class="contact-icons">
<li class="social-icon"><a href="https://twitter.com/BanfieldCareers" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_twitter.png" alt="" /></a></li>
<li class="social-icon"><a href="https://www.facebook.com/BanfieldCareers" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_facebook.png" alt="" /></a></li>
<li class="social-icon"><a href="https://www.instagram.com/banfieldlife/" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_instagram.png" alt="" /></a></li>
<li class="social-icon"><a href="https://www.linkedin.com/company-beta/10069/" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_linkedin.png" alt="" /></a></li>
</ul>
<p class="copyright">Copyright &copy; 2018 Banfield Pet Hospital.<br /> <span style="color: #484848;"><a href="https://www.banfield.com/privacy" target="_blank"><span style="color: #484848;">Privacy Policy</span></a> </span><br /><span style="color: #484848;"> <a href="https://www.banfield.com/terms" target="_blank"><span style="color: #484848;">Terms &amp; Conditions</span></a></span></p>
</footer></div>
</div>
</div>
</div>
<iframe class="live-chat" src="https://hireclix.github.io/hosting/banfield/live-chat.html"> </iframe> <a class="chat-link live-chat-mobile" href="https://lc.chat/now/9392535/" target="_blank"> <span>Chat Now</span><img style="width: 50px;" src="https://hireclix.github.io/hosting/banfield/images/chat-icon.png" alt="" /> </a>
</body></body>
