@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body {
    width: 100vw;
    height:100vh;    
    background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(https://hireclix.github.io/hosting/schneider-electric/images/wc-sales_header2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    overflow: hidden;
}

.container {
    padding:5em 0em 5em 0em;
    text-align: center;
    overflow-x: hidden !important;
}

h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    line-height: 46px;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
    margin-bottom:0;
}

p {
    margin-top:.25em;
    color: #fff;
    font-weight: 100;
    font-size:1em;
    font-family: 'Nunito', sans-serif;
}

.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color:#3DCD58;
		border-radius: 0.375em;
		border: 0;
		color: #fff !important;
		cursor: pointer !important;
		display: inline-block;
		font-family: 'Nunito', sans-serif;
		font-size: 1em;
		font-weight: 500;
		height: 2.5em;
		letter-spacing: 0.075em;
		line-height: 2.65em;
		padding: 0 2.75em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
        box-shadow: none;
        text-transform: none;
	}

:focus {
    outline: 0 !important;


