<html>
	<body>
<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://hireclix.github.io/hosting/banfield/los-angeles-openings/assets/css/main.css" />
        
        <!-- https://hireclix.github.io/hosting/banfield/los-angeles-openings/ -->
        
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">
							<!-- Banner -->
								<section id="banner">
									<div class="items">
										<section class="accent2">
                                            <img style="margin:0 auto;" src="https://hireclix.github.io/hosting/banfield/logos/logo-notag.png" class="intro-logo">
											<h1 style="font-weight:bold;">Welcome to North Los Angeles
</h1>
											
                                            <p>With its beautiful beaches, countless outdoor activities, and delicious food, Los Angeles is a city for all!


</p>
				


										</section>
										
									</div>
									<div class="slider">
										
									</div>
								</section>

						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Section -->
								<section class="main" style="background-color:#2DCCD3; padding-top:2em;">
									<header class="major">
                                        <h2 style="color:#fff; font-size:1.5em; line-height:1.25; margin-bottom:0;">This profession chose me.<br><span style="font-weight:bold; font-size:1.5em;">I chose Banfield.</span></h2>
										
									</header>	
								</section>

							

							<!-- Section -->
								<section class="main" style="padding-top:2em;">
                                    
                                   
                
									<div class="spotlights">
                                        <div>
											<div class="image feature3"></div>
											<div class="content" style="text-align:left;">
												<h3 style="font-weight:bold; color:#ED8B00;">A cool place to visit, an even greater place to live

</h3>
												

<ul>
<li>With job opportunities galore, relocating to LA with your significant other makes for an easy transition</li>
<li>Tired of the cold? Winter temperatures range from the high 50’s to the mid 70’s so get ready to toss those heavy winter coats aside</li>
<li>Focus on your health and wellness with countless fitness and yoga studios</li>
<li>Explore 75 miles of coastal beaches and get your sun, sand, and surf on</li>
<li>From Big Bear Lake to tons of trails, you’ll never “run” out of outdoor activities</li>
<li>If you consider yourself a foodie, you’ll have your fill of iconic food trucks and diverse dining options including Chinese, Korean, Thai, Mexican, and more!
</li>    
</ul>

                                                
												
											</div>
										</div>
										<div>
                                            
											<div class="image feature1"> </div>
											<div class="content second" style="text-align:left;">
												<p class="quote">“Remember why you chose to become a Veterinarian and let’s work together and make that dream a reality.”</p>
                                        <h4 class="quote-author">Joe Dendy, DVM<br>
                                            <span style="font-weight:normal">Chief of Staff<br>
Banfield Pet Hospital

</span></h4>

												
											</div>
										</div>
                                        <div>
											<div class="image feature2"> </div>
											<div class="content" style="text-align:left;">
												<h3 style="font-weight:bold; color:#ED8B00;">Imagine yourself…
</h3>
												

<ul>
<li>Strolling down the Hollywood walk of fame and taking pictures with your favorite “stars”</li>
<li>iking the Hollyridge trail and spotting a glimpse of the famous Hollywood sign</li>
<li>Catching a flick at the famous Grauman’s Chinese Theatre</li>
<li>Hearing live music at LA’s largest outdoor amphitheater, The Hollywood Bowl</li>
<li>Surfing and boogie boarding at Venice Beach</li>
<li>Taking a step back in time at one of LA’s many museums including the Natural History Museum, Los Angeles County Museum of Art, The Broad, Getty Villa, and many more!
</li>    
</ul>

                                                
												
											</div>
										</div>
                                        
                                       
                                        
									</div>
								</section>


						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Section -->
								<section class="main accent2" style="padding-top:0;">
									<header class="major cta">
                                        
										<h2 style="font-weight:bold; font-size:1.5em;">If you’re ready to get your daily dose of sunshine and work for a practice <br class="sm-hidden">committed to your wellbeing, explore our open opportunities. 
 </h2>
                                        
                                        	</header>
                                         <ul class="actions" style="padding-top:1em; text-align:center">
								<li><a href="#" class="button ">View Our Los Angeles Hospitals</a></li>
                                            <li class="mobile-padding"><span class="button"><input style="font-size: 1em; color: #ffffff; border: none; padding: 5px; text-align: center;   display: inline-block;" type="button" value="[Search Our Open Jobs]" disabled="disabled" /></span></li>
											
												</ul>
                                        
                                        <div style="margin-top:0;" align="center" id="join-us">
<div style="max-width: 300.0px; background-color: #ffffff;"><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 1px 2px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block; width: 260px; height: 536px;" type="button" value="[Join-Us-App]" disabled="disabled" /></div>
</div> 
										
                                       
								
									
								</section>

							<!-- Footer -->
								<footer id="footer">
					<ul class="icons">
                        <li><a href="https://www.facebook.com/BanfieldCareers/" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_facebook.png"></a></li>
                        <li><a href="https://twitter.com/BanfieldCareers" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_twitter.png"></a></li>
						<li><a href="https://www.linkedin.com/company/banfield-pet-hospital" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_linkedin.png"></a></li>
                        <li><a href="https://www.instagram.com/banfieldlife/" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_instagram.png"></a></li>
                        <li><a href="https://www.glassdoor.com/Overview/Working-at-Banfield-Pet-Hospital-EI_IE137890.11,32.htm" target="_blank"><img src="https://hireclix.github.io/hosting/banfield/icons/banfield_glassdoor.png"></a></li>
					</ul>
                    <ul class="menu">
                        <li>Copyright &copy; 2018 Banfield Pet Hospital. </li>
<li><a href="http://www.banfield.com/privacy" target="_blank">Privacy Policy</a></li>
    <li><a href="http://www.banfield.com/terms" target="_blank">Terms &amp; Conditions </a></li>

</ul>
					
				</footer>

						</div>
					</div>
 
			</div>

		<iframe class="live-chat" src="https://hireclix.github.io/hosting/banfield/live-chat.html"></iframe>
        
        <a class="chat-link live-chat-mobile" href="https://lc.chat/now/9392535/" target="_blank">
            <span>Chat Now</span><img style="width:50px" src="https://hireclix.github.io/hosting/banfield/images/chat-icon.png">
            </a>

	</body>
</html>
